$white: #fff;
$light: #f8f9fa;



$spacing-small : 10 px;
$spacing-medium : 15 px;
$spacing-huge : 30px;

$box-gradient :  linear-gradient(90deg, rgba(68,236,158,1) 2%, rgba(51,221,38,1) 17%, rgba(196,255,199,1) 50%, rgba(145,224,173,1) 78%, rgba(6,242,92,1) 100%);
$box-shadow :        4px 12px 8px 0px rgba(34, 60, 80, 0.2);

$radius: 3px;